h2 {
    text-align: center;
    color: #493d9e;
    margin-bottom: 2rem;
    margin-top: 50px;
}

.momentos-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 20px;
}

.momento-card {
    background-color: #F8F4FF;
    border: 2px solid #493d9e;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.momento-card h2 {
    color: #493d9e;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.btn-cargar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF2AF;
    color: #493d9e;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.btn-cargar:hover {
    background-color: #493d9e;
    color: #FFF2AF;
}