.mainCalendar {
    display: grid;

    /* Primera columna fija y días flexibles */
    grid-template-columns: 140px repeat(5, 1fr);

    font-family: "Rhodium Libre", serif;

    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;

    /* Filas adaptables al contenido */
    grid-auto-rows: minmax(60px, auto);

    gap: 0.5rem;
    padding: 0 1rem; /* evita que toque los bordes en móvil */
}






/* Estilo base para TODAS las celdas */
.mainCalendar > * {
    border: 1px solid #493d9e;
    text-align: center;
    border-radius: 10px;
}

/* Celdas del header (días) */
.diaCal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAA6FF90;
    border: 1px solid #111;
}

/* Celda del mes (esquina superior izquierda) */
.mesCal {
    background-color: #7B61FF90;
    border: 1px solid #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Columna de materias */
.matCal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF2AF;
    border: 1px solid #111;
    font-weight: bold;
}

/* Celdas donde van las actividades */
.cellCal {
    background-color: #AAA6FF30;
    display: flex;
    justify-content: center;
    align-items: center;
}